{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}pagina_metodos numericos{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Configuración básica de Tailwind (opcional) -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-gray-100 h-full">
    <header class="bg-slate-400 text-white p-4 flex items-center justify-between">
        <div class="flex items-center">
        </div>
    </header>

    <main class="bg-stone-300 w-full h-[calc(100%-144px)]">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>