{% extends 'base.html' %}
{% load static %}
{% block title %}index {% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Métodos numéricos</h1>
    
    <p class="text-lg text-gray-700 mb-8">
        -----
    </p>

    <section class="mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Windows</h2>
        <p class="text-gray-700">
            Windows es el nombre de una familia de distribuciones de software y sistemas operativos para PC, servidores, 
            sistemas empotrados y anteriormente teléfonos inteligentes desarrollados y vendidos por Microsoft desde 1985 
            y disponibles para múltiples arquitecturas, tales como x86, x86-64 (x64) y ARM. Originalmente (en Windows 1.0, 
            2.0 y 3.x) era solamente un software que aportaba interfaz gráfica de usuario (GUI, Graphical User Interface) 
            basada en ventanas para MS-DOS (Microsoft Disk Operating System), que por aquel entonces contaba con una interfaz 
            basada en línea de comandos.
        </p>
    </section>

    <section class="mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">MacOs</h2>
        <p class="text-gray-700">
            macOS (previamente Mac OS X, luego OS X) es una serie de sistemas operativos gráficos desarrollados y comercializados 
            por Apple desde 2001. Es el sistema operativo principal para la familia de computadoras Macintosh de Apple. Dentro del 
            mercado de computadoras de escritorio, portátiles, hogareñas y mediante el uso de la web, fue por años el segundo sistema 
            operativo de escritorio más utilizado, después de Microsoft Windows, hasta 2021.
        </p>
    </section>

    <section>
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Linux</h2>
        <!-- Aquí puedes agregar el contenido sobre Linux -->
    </section>
</div>
{% endblock %}